.main_grid {
    display: grid;
    grid-template-columns: 400px 958px;
}
.picture_block{
    background-color: #941e18;
    width: 100%;
}
.second_main_grid {
    display: grid;
    grid-template-rows: 200px 40px 40px 40px 20px 50px;
}

div1 {
    margin-left: 50px;
    font-size: 20px;
}
.password_catalogy {
    display: grid;
    grid-template-columns: 150px 150px;
    font-size: 15px;
    margin-top: 25px;
    
}

.signin_block {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: 50px;
    
}

.login_button {
    background-color: rgb(148, 24, 49);
    color: black;
    margin-top: 40px;
    margin-left: 75px;
    width: 80px;
    height: 40px;
    padding: 5px;
    border-radius: 20px   
}
.login_button:hover {
    background-color: rgb(219, 66, 55);
}

.dating_pic {
    margin-top: 0px;
    width: 958px;
    height: 566px;
}